.parent {
  display: flex;
  /* flex-direction: column; */
}

.middle-band {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;

  height: 80%;
  width: 100vw;
  border: 1 px solid black;
}

/* Searchbar Css */
.search {
  /* Children Elements */
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* On top of map */
  z-index: 999;

  /* set position = Top of centre screen */
  position: absolute;
  top: 20px;
  margin-left: 40%;
  margin-right: 40%;

  /* Dimensions */
  width: 20%;
  height: 3em;

  /* border */
  border-radius: 20px;
  border: 1px solid white;

  /* Colours */
  background-color: rgb(175, 175, 175, 0.8);
  color: black;
}

.search-box {
  margin: 10px;
  width: 80%;
  height: 50%;
  background-color: white;
  color: black;
  border-radius: 10px;
  float: right;
}

#search-icon {
  background: url("../public/search-icon.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 3px 3px;
}
#search-icon:active {
  transform: scale(0.9);
}

/* CSS FOR RESULTS PANE */
.results-pane {
  position: relative;
  z-index: 999;

  border: 1px white solid;
  height: 50vh;
  width: 20%;
  margin-left: 20px;
  background-color: rgb(175, 175, 175, 0.8);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header {
  height: 35px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  color: black;
  border: 1px grey;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand-button {
  float: left;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgb(128, 128, 128);
  opacity: 80%;
  background: url("../public/chevron.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 3px 8px;
}

.expand-button:hover {
  background-color: rgba(128, 128, 128, 0.342);
}

.expand-button:active {
  transform: scale(0.95);
  transform: rotate(180deg);
}
/* .dropdown {
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

.info-section {
  display: flex;
  justify-content: center;
  flex-grow: 4;

  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px white solid;
}

.number-of-results {
  justify-content: space-around;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px white solid;
  border-radius: 20px;
}

/* CSS Education */

.education-pane {
  position: relative;
  z-index: 999;

  border: 1px white solid;
  height: 50vh;
  width: 20%;
  margin-right: 20px;
  background-color: rgb(175, 175, 175, 0.8);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-content: space-between;
}
